

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyTorch
*.pth
*.pt

# 数据和模型
data/coco/
ImageCap/checkpoints/
results/
coco2014
ImageCap/Qwen3
ImageCap/swinTransformer
ImageCap/gpt2zh
VLM
# IDE
.idea/
.vscode/
*.swp
*.swo
*.json
# 系统
.DS_Store
Thumbs.db
/outputs
/ImageCap/data/coco
LLaVA
/ImageCap/models
/ImageCap/data/coco
/LLaVA2
/coco2014/train2014
/coco2014/val2014
/coco2014/annotations
/coco2014
*.pyc
*.Python
